configuration {
  modi: "drun,run";
  font: "Iosevka 12";
  show-icons: true;
}

* {
  bg:         #1a1b26;
  bg-alt:     #24283b;
  bg-select:  #3d59a1;
  fg:         #d4dbff;
  fg-dim:     #787c99;
  accent:     #7aa2f7;

  background-color: transparent;
  text-color:       @fg;
}

window {
  background-color: @bg;
  padding: 0;
  border-radius: 12px;
}

mainbox {
  enabled:                    true;
  spacing:                    12px;
  padding:                    8px;
  background-color:           transparent;
  children:                   ["inputbar", "listview"];
}

inputbar {
  enabled:                    true;
  spacing:                    6px;
  padding:                    4px 12px;
  border-radius:              6px;
  background-color:           @bg;
  text-color:                 @fg;
  children:                   ["entry"];
}

entry {
  background-color: transparent;
  text-color:       @fg;
  placeholder:      "...";
  placeholder-color: @fg-dim;
}

listview {
  background-color: transparent;
  columns:          4;
  lines:            3;
  spacing:          5px;
  scrollbar:        false;
  layout:           vertical;
}

element, element normal.normal, element alternate.normal {
  background-color: @bg-alt;
  text-color:       @fg;
  padding:          15px 10px;
  spacing:          10px;
  border-radius:    10px;
  orientation:      vertical;
  children:         [element-icon, element-text];
}

element selected {
  background-color: @bg-select;
  border:           2px;
  border-color:     @accent;
}

element-icon {
  background-color: transparent;
  size:             36px;
  horizontal-align: 0.5;
}

element-text {
  background-color: transparent;
  text-color:       inherit;
  horizontal-align: 0.5;
  vertical-align:   0.5;
}
